doctype html
html
  head
    title = content_for?(:title) ? yield(:title) : default_title
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  body
    - flash.each do |name, message|
      div id="#{name}"
        = message

    = yield
