<h1><%%=t 'views.<%= plural_table_name %>.editing_<%= singular_table_name %>' %></h1>

<%%= render 'form' %>

<%%= link_to t('nice.show'), @<%= singular_table_name %> %> |
<%%= link_to t('nice.back'), <%= index_helper %>_path %>
